# Remove index.php from URL
       RewriteCond %{HTTP:X-Requested-With}    !^XMLHttpRequest$
       RewriteCond %{THE_REQUEST}              ^[^/]*/index\.php [NC]
       RewriteRule ^index\.php(.*)$            $1 [R=301,NS,L]